[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = CN
countryName_default = CN
stateOrProvinceName = JS
stateOrProvinceName_default = JS
localityName = Suzhou
localityName_default = Suzhou
organizationalUnitName	= Ruilisi
organizationalUnitName_default	= Domain Control Validated
commonName = Internet Widgits Ltd
commonName_max	= 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
extendedKeyUsage = clientAuth,serverAuth
subjectAltName = @alt_names

[alt_names]
